
<div class="splendor-bank">

    @foreach(var colour in Model.Colours())
    {
        <div class="splendor-cost"
             style="color: @colour.TextColour(); background: @colour.TokenColour()">

            @Model[colour]
        </div>
    }

</div>

@functions
{
    [Parameter]
    public IPool Model { get; set; }
}