
<div class="splendor-noble">
    
    @foreach(var colour in Model.Cost.Colours())
    {
        <div class="splendor-bonus @colour.CardColour()"
             style="color: @(colour is TokenColour.Black ? "white" : "black")">

            @Model.Cost[colour]
        </div>
    }

</div>

@functions
{
    [Parameter]
    public Splendor.Noble Model { get; set; }
}