
<div class="splendor-noble">
    
    @foreach(var colour in Model.Cost.Colours())
    {
        <div class="splendor-bonus"
             style="color: @colour.TextColour(); background: @colour.CardColour()">

            @Model.Cost[colour]
        </div>
    }

</div>

@functions
{
    [Parameter]
    public Splendor.Noble Model { get; set; }
}